<div class="container-fluid footer-container text-white py-5">
  <div class="row justify-content-center text-start">
    
    <!-- Logo -->
    <div class="col-12 col-md-3 mb-4 text-center text-md-start">
      <h2 class="logotipo">PeliConnect</h2>
    </div>

    <!-- LOS BÁSICOS -->
    <div class="col-6 col-md-2 mb-4">
      <h5 class="fw-bold">LOS BÁSICOS</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="footer-link">Acerca de PeliConnect</a></li>
        <li><a href="#" class="footer-link">Contáctanos</a></li>
        <li><a href="#" class="footer-link">Estado del sistema</a></li>
      </ul>
    </div>

    <!-- INVOLUCRARSE -->
    <div class="col-6 col-md-2 mb-4">
      <h5 class="fw-bold">INVOLUCRARSE</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="footer-link">Guía de Contribuciones</a></li>
        <li><a href="#" class="footer-link">Agregar Nueva Película</a></li>
        <li><a href="#" class="footer-link">Agregar Nueva Serie de TV</a></li>
      </ul>
    </div>

    <!-- COMUNIDAD -->
    <div class="col-6 col-md-2 mb-4">
      <h5 class="fw-bold">COMUNIDAD</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="footer-link">Pautas</a></li>
        <li><a href="#" class="footer-link">Discusión</a></li>
        <li><a href="#" class="footer-link">Tabla de Líderes</a></li>
        <li><a href="#" class="footer-link">Foros de Soporte</a></li>
      </ul>
    </div>

    <!-- LEGAL -->
    <div class="col-6 col-md-2 mb-4">
      <h5 class="fw-bold">LEGAL</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="footer-link">Términos de Uso</a></li>
        <li><a href="#" class="footer-link">Términos de uso de la API</a></li>
        <li><a href="#" class="footer-link">Política de privacidad</a></li>
        <li><a href="#" class="footer-link">Política DMCA</a></li>
      </ul>
    </div>

  </div>
</div>
