nav a {
  color: #ccc;
  text-decoration: none;
  margin-left: 25px;
  position: relative;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #fff;
}

/* Línea roja animada */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #e50914;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* Para resaltar la opción activa */
nav a.activo {
  color: #fff;
}

nav a.activo::after {
  width: 100%;
}
